$columns: auto;
$rows: 70px auto 70px;
$areas: "header"
        "editor"
        "footer"
    ;

$editor-columns: auto 30%;
$editor-areas: "formator-view formator-format"
    ;


app-root {
    position: fixed;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-template-areas: $areas;

/*    .header {
        grid-area: header;
    }*/

   app-header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        border-bottom: $border;
        padding: 0 30px;
        height: 100%;
        align-items: center;    
    }

    // .navigation {
    //     grid-area: nav;
    // }

    // .logo {
    //     grid-area: logo;
    //     float: right;
    // }

    app-editor {
        grid-area: editor;
    }

    app-footer {
        grid-area: footer;
    }
}
