.navigation {
    @extend %header;

    text-decoration: none;

    li {
        text-decoration: none;
        list-style: none;
        font-size: 18px;
        cursor: pointer;


        &:not(:last-child)::after {
            content: ">";
            color: grey;
            margin: 0 10px;
            cursor: text;
        }
    }
}